@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../node_modules/tippy.js/dist/tippy.css';

:root {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Theme1
  --twc-theme-50: #fef9ee;
  --twc-theme-100: #fcf2d8;
  --twc-theme-200: #f8e2b0;
  --twc-theme-300: #f4cf88;
  --twc-theme-400: #edab4a;
  --twc-theme-500: #e99326;
  --twc-theme-600: #da791c;
  --twc-theme-700: #b55e19;
  --twc-theme-800: #904a1c;
  --twc-theme-900: #743e1a;
  --twc-theme-950: #3f1e0b;

  // Theme2
  --twc-theme2-50: #fff;
  --twc-theme2-100: #fff;
  --twc-theme2-200: #fff;
  --twc-theme2-300: #fff;
  --twc-theme2-400: #fff;
  --twc-theme2-500: #fff;
  --twc-theme2-600: #fff;
  --twc-theme2-700: #fff;
  --twc-theme2-800: #fff;
  --twc-theme2-900: #fff;
  --twc-theme2-950: #fff;
}

html,
body {
  @apply dark:bg-zinc-950 dark:text-gray-100;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--twc-theme-700);
  height: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--twc-theme-500);
  border-radius: 10px;
}

.default-container {
  @apply max-w-5xl w-full mx-auto px-6 sm:px-8;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}
