@tailwind base;
@tailwind components;
@tailwind utilities;

@import './../node_modules/tippy.js/dist/tippy.css';

:root {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Theme1
  --twc-theme-50: #fefde8;
  --twc-theme-100: #fefdc3;
  --twc-theme-200: #fdf88b;
  --twc-theme-300: #fceb48;
  --twc-theme-400: #f9db1a;
  --twc-theme-500: #e9c109;
  --twc-theme-600: #c99705;
  --twc-theme-700: #a06c08;
  --twc-theme-800: #84550f;
  --twc-theme-900: #714512;
  --twc-theme-950: #422406;

  // Theme2
  --twc-theme2-50: #fefde8;
  --twc-theme2-100: #fefdc3;
  --twc-theme2-200: #fdf88b;
  --twc-theme2-300: #fceb48;
  --twc-theme2-400: #f9db1a;
  --twc-theme2-500: #e9c109;
  --twc-theme2-600: #c99705;
  --twc-theme2-700: #a06c08;
  --twc-theme2-800: #84550f;
  --twc-theme2-900: #714512;
  --twc-theme2-950: #422406;
}

html,
body {
  @apply dark:bg-zinc-950 dark:text-gray-100;
}

.default-container {
  @apply max-w-7xl w-full mx-auto px-6 sm:px-8;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}
